<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <pipelines>
      <commerce.carts.loadCart>
        <processor patch:instead="processor[@type='Sitecore.Commerce.Engine.Connect.Pipelines.Carts.LoadCart, Sitecore.Commerce.Engine.Connect']"
                  type="Feature.Carts.Pipelines.LoadCart, Feature.Carts"/>
      </commerce.carts.loadCart>
    </pipelines>
  </sitecore>
</configuration>